/* Video from: https://pixabay.com/  */

@import "https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap";

.about {
    // display: grid;
    background: #ffffdd;
    background: url('photo/linen.png');
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-bottom: 1px solid gray;
    
    .headline {
        width: 25vw;
        height: 4vw;
        background: linear-gradient(180deg, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
        margin-top: 5vh;
        box-shadow: 2px 2px 4px 3px black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -65vw;
        float: left;

        h4 {
            width: 64vw;
            font-family: 'Dancing Script', cursive;           
            margin-left: 5vw;            
            font-size: 3vw;
            text-shadow: 4px 4px 2px rgba(0,0,0,0.7);
            color: #ffffdd;
            align-self: flex-start;
            font-weight: normal;
        }
    }

        .container {
            display: flex;
            overflow: hidden;
                .left {
                    width: 25vw;
                    height: 65vh;
                    margin: 5vh 6px;
                    border-radius: 5px;
                    margin-right: 3.5vw;
                    background: linear-gradient(180deg, #004040, #003c3c, #003939, #003535, #003131, #002d2d, #002a2a, #002626, #002222, #001e1e, #001b1b, #001717);
                    box-shadow: 3px 3px 5px 4px black;
                    overflow: hidden;
                        .picture {
                            width: 10vw;
                            height: 10vw;
                            margin: 10vh 7.5vw 10vh;
                            border-radius: 50%;
                            border: 1px solid #ffffdd;
                            background: url('photo/portrait.jpg') center center/cover no-repeat;    
                        }
                        .icon{
                            margin: 5vh 10vw 10vh;
                            color: limegreen;
                            font-size: 6vw;
                            display: block;
                            width: 100%;
                            // background-size: cover;
                        }
                    }            
                .right {                              
                    width: 60vw;
                    height: 60vh;
                    margin-top: 5vh;
                    padding-left: 20px;               
                    }
        }            
}       
    