/* Video from: https://pixabay.com/  */

@import "https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap";

.about {
    background: #ffffdd;
    background: url('photo/linen.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow: visible;
    // border-bottom: 1px solid gray;

    // .headline {
    //     width: 20vw;
    //     height: 4vw;
    //     background: linear-gradient(180deg, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
    //     margin-top: 5vh;
    //     box-shadow: 2px 2px 4px 3px black;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     margin-left: -66vw;
    //     float: left;

    //     h4 {
    //         width: 64vw;
    //         font-family: 'Dancing Script', cursive;
    //         // margin-left: 5vw;            
    //         font-size: 3vw;
    //         text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
    //         color: #ffffdd;
    //         align-self: flex-start;
    //         font-weight: normal;
    //     }
    // }

    .container {
        display: flex;
        overflow: hidden;

        .left {
            width: 20vw;
            height: 100vh;
            // margin: 2vh;
            // margin: 5vh 6px;
            // border-radius: 5px;
            margin-right: 3.5vw;
            background: linear-gradient(180deg, #004040, #003c3c, #003939, #003535, #003131, #002d2d, #002a2a, #002626, #002222, #001e1e, #001b1b, #001717);
            background: radial-gradient(circle at 50% 50%, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
            // background: linear-gradient(180deg, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
            // background: radial-gradient(circle at 50% 50%, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
            // overflow: hidden;
            // box-shadow: 3px 3px 5px 4px black;
            overflow: visible;
            
            .headline {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35vw;
                height: 4vw;
                background: linear-gradient(180deg, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
                box-shadow: 2px 2px 4px 3px black;
                margin: 2vw;
                z-index: 10;
                padding-left: 10px;
                border-radius: 2px;
                // float: left;
        
                h4 {
                    width: 30vw;
                    font-family: 'Dancing Script', cursive;
                    font-size: 3vw;
                    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
                    color: orange;
                    color: #ffffdd;
                    align-self: flex-start;
                    font-weight: normal;
                }
            }

            // .headline {
            //     // width: 20vw;
            //     // height: 4vw;
            //     background: linear-gradient(180deg, hsl(180, 100%, 16%), hsl(180, 100%, 15%), #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
            //     // box-shadow: 2px 2px 4px 3px black;
            //     // display: flex;
            //     background: hsl(32, 100%, 45%);
            //     background:hsl(180, 100%, 25%);
            //     margin-top: 5vh;
            //     align-items: center;
            //     justify-content: center;
            //     // margin-left: -66vw;
            //     // float: left;

            //     h4 {
            //         width: 64vw;
            //         font-family: 'Dancing Script', cursive;
            //         // margin-left: 5vw;            
            //         font-size: 3vw;
            //         text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
            //         color: orange;
            //         color: #ffffdd;
            //         // align-self: flex-start;
            //         font-weight: normal;
            //         // margin: auto;
            //     }
            // }
            
            
            .picture {
                width: 10vw;
                height: 10vw;
                margin: 10vh 5vw;
                border-radius: 50%;
                border: 1px solid #ffffdd;
                background: url('photo/portrait.jpg') center center/cover no-repeat;
            }
            
            .icon {
                margin: 7.5vw;
                color: limegreen;
                font-size: 6vw;
                display: block;
                width: 100%;
                text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);

            }
        }

        .right {
            width: 60vw;
            height: 65vh;
            margin: auto;
            margin-top: 15vh;
            padding: 20px;
            border-top: hsl(32, 100%, 45%) 4px solid;
            border-bottom: hsl(32, 100%, 45%) 4px solid;
            border-right: 3vw hsl(32, 100%, 45%) solid;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
            line-height: 1.7;
            text-align: justify;
            // text-justify: inter-word;
            background: hsl(180, 45%, 25%);
            color: #ffffdd;
        }
    }
}