@import "https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap";

.application {
    height: 121vh !important;
    background: url('photo/greywall.png');
    display: flex;
    align-items: center;
    position: relative;

    .arrow {
        height: 8vh;
        position: absolute;
        cursor: pointer;
        margin-bottom: 30vh;
        z-index: 100;

        &.left {
            left: 3vw;
            transform: rotateY(180deg);
        }

        &.right {
            right: 3vw;
        }
    }

    .slide {
        left: 0;
        height: 94vh;
        display: flex;
        position: absolute;
        margin-bottom: 49vh;
        transition: all 1s ease-out;

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20vh;

            .item {
                width: 78vw;
                height: 100%;
                background: url('photo/linen.png');
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;

                .left {
                    height: 100%;
                    flex: 4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .right {
                    height: 100%;
                    flex: 8;
                    // background-color: limegreen;
                }
            }
        }

        &.slide2 {
            left: -100vw;
            // left: 0;
        }

        &.slide3 {
            left: -200vw;
            // left: 0;
        }
    }



    // Zdjęcie autorstwa Belle Co z Pexels

    .sentence {
        position: absolute;
        background: hsl(32, 100%, 45%);
        background-size: cover;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30vh !important;
        width: 100vw;

        h4 {
            font-family: 'Dancing Script', cursive;
            font-size: 1.5rem;
            font-weight: lighter;
            margin-top: 5vh;
            padding: 2vh;
            font-family: 'Cinzel', serif;
            color: linen;
            letter-spacing: 2px;
            border-left: 6px solid darkslategray;
            border-bottom: 1px solid darkslategray;
        }

        h5 {
            font-size: .8em;
            letter-spacing: 2px;
            font-weight: 400;
            font-family: 'Montserrat', sans-serif;
            padding: 10px;
        }
    }

}


// .headline {
//     width: 20vw;
//     height: 4vw;
//     background: linear-gradient(180deg, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
//     margin-top: 5vh;
//     box-shadow: 2px 2px 4px 3px black;
//     margin-left: -65vw;

//     h4 {
//         width: 64vw;
//         font-family: 'Dancing Script', cursive;
//         color: #ffffdd;
//         font-size: 3vw;
//         text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
//         display: block;
//         font-weight: normal;
//     }
// }