@import '../global.scss';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700';


.contact {
    display:flex; 
    width: 100vw;
    height: calc(100vh - 140px);
    background: url('photo/notes.jpg') center center/cover no-repeat;
    background-size: cover;
    object-fit: contain;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .emaildiv {
        display:flex; 
        flex: 1;
        flex-direction: column;
        justify-content: center;
        margin: 5vh 15vw 5vh 70vw;
        border-radius: 10px;
        height: 65vh;
        width: 32vw;
        min-width: 200px;
        background: linear-gradient(330deg, #002525, #002929, #002c2c, #003030, #003434, #003838, #003c3c, #004040, #004444, #004848, #004c4c, #005050);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


        h1{
            font-size: 30px;
            font-family: 'Dancing Script', cursive;           
            color: rgb(233, 151, 0);
            font-size: 3vw;
            margin-bottom:2vh;
            margin-left: 3vw;
            padding: 5px;
            text-shadow: 4px 4px 2px rgba(0,0,0,0.7);
            font-weight: normal;

        }      

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffdd;
            
            
            input{
                font-size: 17px;
                border-radius:5px;
                margin-bottom: 10px;
                width: 25vw;
                min-height: 25px;
                border-style: inset;
                background: url('photo/linen.png');
            }
            input:focus{
                outline: none;
                background: rgb(135, 194, 135);
                border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
            }
            
            textarea{
                font-size: 17px;
                border-radius:5px;
                width: 25vw;
                min-width: 250px;
                height: 35vh;
                min-height: 200px;
                margin-bottom: 10px;
                resize: none;
                background: url('photo/linen.png');
            }
            textarea:focus{
                outline: none;
                background: rgb(135, 194, 135);
            }
            

         button {
                border-radius: 5px;
                background: rgba(50, 205, 50, 0.801);
                color: black;
                transition: all .5s;
                border: none;
                min-width: 100px;
                width: 15vw;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 3px;    
                cursor: pointer;
                text-align: center;
                min-height: 30px;
            }
            button:hover {
                background: limegreen;
                }
            button:active {
                color: orange;             
            }
        }
    }
    
    footer {
        margin-top:auto; 
        width: 100vw;
        bottom: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        height: 14vh;
        background: linear-gradient(180deg, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002727, #002323, #001f1f, #001b1b, #001717, #001313);
        box-shadow: 10px 8px 10px 10px black;

        h2 {
            color: orange;
            font-family: Raleway, sans-serif;
            margin-bottom: 5vh;
        }

        h6 {
            bottom: 2vh;
        }
    }
}