// video {
//     position: fixed;
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//     z-index: -999; 
// }

// video {
//     position: absolute;
//     object-fit: cover;
//     width: 100vw;
//     height: 100vh;
//     z-index: -999;
// }
@import '../global.scss';

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&display=swap');


.intro {
    background: url('photo/introPic.jpg') center center/cover no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 60px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative; ????
    // border: red 4px solid;
    // font-family: 'Raleway', sans-serif;
    // border: 1px solid red;

    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 18vmin;
        // font-weight: lighter;
        color: white;
        border: 3px solid orange;
        margin-bottom: 1vh;
        z-index: 1;
        padding: 1vmin;
    }

    h2 {
        z-index: 1;
        color: hsl(39, 100%, 46%);
        font-family: 'Raleway', sans-serif;
        margin-top: 2vh;
        margin-bottom: 3vh;
        letter-spacing: .8vmin;
        font-size: 3vmin;
        text-align: center;
        padding-bottom: 1vh;
        font-weight: lighter;
    }

    h3 {
        font-size: 6vmin;
        margin-bottom: 5vh;
        margin-top: 5vh;
        padding: 2vh;
        z-index: 1;
    }

    // h4 {
    //     font-family: 'Dancing Script', cursive;
    //     font-size: 1.1rem;
    //     // font-weight: lighter;
    //     // margin-bottom: 2vh;
    //     padding: 2vh;
    //     font-family: 'Cormorant Garamond', serif;
    //     // font-family: 'Great Vibes', cursive;
    //     font-family: 'Cinzel', serif;
    //     // color: rgb(26, 24, 23);
    // }

    // h5 {
    //     // bottom: 5vmin;
    //     font-size: .9em;
    //     letter-spacing: 2px;
    //     font-weight: 500;
    //     font-family: 'Montserrat', sans-serif;
    // }
}

.intro::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}