@import "https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap";


#detach-button-host {
    display: none !important;
}

// video {
//     position: absolute;
//     object-fit: cover;
//     width: 100vw;
//     height: 100vh;
//     z-index: -999;
// }
.lessons {
    // background: url('photo/linen.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: url('photo/greywall.png');
    // border-left: orange 5vw solid;
    // position: absolute;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: gray;
        width: 100%;
        height: 90%;

        // margin-top: 4vh;
        // @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
        .left {
            // background-color: #fff;
            width: 96%;
            height: 96%;
            padding: 10px;
            margin-left: 15px;
            line-height: 1.7;
            text-align: justify;
            text-justify: inter-word;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 17px;
            color: #ffffdd;
            overflow: hidden;
            // text-align: center;
            align-items: center;
            justify-content: center;
            // margin-top: 1vh;
            border-bottom: orange solid 4px;
            border-left: orange solid 1px;
            // border-top: orange solid 2px;
            // margin-right: -18vw;
            margin-left: 5vw;
            z-index: 100;


            .headline {
                width: 24vw;
                height: 7vmin;
                background: linear-gradient(180deg, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
                // margin: auto;
                letter-spacing: 5px;
                margin-bottom: 3vh;
                box-shadow: 2px 2px 4px 3px black;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;   
                // border: 1px solid orange;

                h4 {
                    // padding: 0 auto;
                    color: orange;
                    color: #ffffdd;
                    font-size: 40px;
                    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
                    font-weight: normal;
                    font-family: 'Cinzel', serif;
                    left: 0;
                   
                    // margin: auto;
                    // font-family: 'Montserrat', sans-serif;
                    // font-family: 'Dancing Script', cursive;

                }
            }
        }

        .right {
            width: 100%;
            height: 100%;
            // padding: 10px;
            background-size: cover;
            object-fit: contain;
            margin-right: -18vw;
            overflow: hidden;
            // margin-top: 5vh; 
            // border-radius: 15px;

            video {
                // border-radius: 20px;               
                flex-flow: end;
                object-fit: cover;
                transform: rotate(90deg);
                width: 90%;
                height: 90%;
                z-index: -999;
                // margin-right: 0;

            }
        }
    }

    // @import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
    // @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
    /* Video from: https://pixabay.com/  */

    // @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    // @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
    // @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    // @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
    // @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Jost&display=swap');
    // @import url('https://fonts.googleapis.com/css2?family=Bellota&display=swap');
    // @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
    // @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    // @import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700';


}