/* Video from: https://pixabay.com/  */

@import "https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap";

.method {
    background: #ffffdd;
    background: url('photo/linen.png');
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-bottom: 1px solid gray;
    
    
    .headline {
        width: 25vw;
        height: 4vw;
        background: linear-gradient(180deg, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
        margin-top: 5vh;
        box-shadow: 2px 2px 4px 3px black;
        margin-left: -65vw;
        h4 {
            width: 64vw;
            font-family: 'Dancing Script', cursive;           
            color: #ffffdd;
            margin-left: 5vw;            
            font-size: 3vw;
            text-shadow: 4px 4px 2px rgba(0,0,0,0.7);
            display: block;
            font-weight: normal;
        }
    }

        .container {
            display: flex;

            .left {
                width: 45vw;
                height: 60vh;
                margin-top: 5vh;
                }
            
            .right {
                background-size: cover;    
                object-fit: contain;                
                width: 45vw;
                height: 60vh;
                margin-top: 5vh;                
                overflow: hidden;
                video {
                    object-fit: cover;
                    width: 45vw;
                    height: 60vh;
                    z-index: -999;
                    background: #f1eff1;
                }
            }
        }

            
}       
    