/* Video from: https://pixabay.com/  */



// video {
//     object-fit: cover;
//     width: 100vw;
//     height: 100vh;
//     position: absolute;
//     z-index: -999;
// }

.method {

    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;

    h5 {
        color: black;
    }

}