// @import '../global.scss';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,400i,700';

.navbar {
    max-height: 60px;
    width: 100vw;
    background: linear-gradient(180deg, #005050, #004f4f, #004c4c, #004848, #004343, #003d3d, #003737, #003131, #002c2c, #002929, #002626, #002525);
    color: white;
    justify-content: center;
    align-items: center;
    letter-spacing: .2rem;
    box-shadow: 0px 6px 4px -2px rgba(0, 0, 0, 1);
    position: relative;
    top: 0;
    z-index: 3;
    overflow-x: hidden;

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        max-width: 1500px;
        overflow-y: hidden;
        left: 20px;

        .nav-logo {
            display: flex;
            color: #ffffdd;
            text-shadow: -8px 1px 2px rgba(0, 0, 0, 0.7);
            font-weight: 700;
            justify-self: start;
            margin-left: 2vw;
            cursor: pointer;
            text-decoration: none;
            font-size: 2.4rem;
            left: 0;
            font-family: Raleway, sans-serif;
            transition: all 1.5s ease;
            min-width: 10vw;
            padding: 15px;
            // height: 80%;
        }

        .nav-logo:hover {
            color: gold;
            transform: translateX(15px);
            text-shadow: -12px 0px 5px rgba(0, 0, 0, 0.7);
        }

        .bulb {
            // margin-left: 1vw;
            font-size: 2.4rem;
            left: 24vw;
            position: fixed;
        }
        

        .nav-menu {
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-gap: 10px;
            list-style: none;
            text-align: center;
            width: 65vw;
            justify-content: end;
            margin-right: 0;
            // position: fixed;

            .nav-item {
                height: 60px;

                .nav-links {
                    color: white;
                    color: #ffffdd;
                    display: grid;
                    align-items: center;
                    text-decoration: none;
                    padding: 0 1rem;
                    height: 100%;
                    font-size: .9rem;
                }

                .nav-links:hover {
                    color: gold;
                    transition: all 1s;
                }
            }
        }
    }
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 868px) {
    .navbar {
        position: sticky;
        overflow: hidden;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 15vh;
    }

    .nav-menu.active {
        grid-template-columns: 1fr !important;
        height: 68vh;
        top: 15vh;
        border-radius: 5px;
        background: #004545;
        background: radial-gradient(circle at 50% 50%, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
        opacity: .99;
        z-index: 10;
        transition: all .7s;
        padding: 0;
        align-items: center;
        width: 50px;
        position: fixed;

        .nav-item {
            text-align: center;
        }
    }

    .nav-logo {
        position: absolute;
        padding: 0rem .1rem;
    }

    .bulb {
        left: 175px !important;
        margin-left: 1.5vw !important;
    }

    .menu-icon {
        position: fixed;
        display: flex;
        color: white;
        color: #ffffdd;
        justify-content: center;
        align-items: center;
        right: 2vw;
        font-size: 1.8rem;
        cursor: pointer;
        transition: all .5s;
    }

    .menu-icon:hover {
        color: gold;
    }
    

    @media screen and (max-width: 270px) {
        .nav-logo {
            position: absolute;
            padding: 0rem;
            font-size: smaller;
            letter-spacing: 0;
        }

        .bulb {
            display: none;
        }
    }
}