// @import '../global.scss';

@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,400i,700';

// PRZEBUDOWA NA MAKSA

.navbar {
    height: 60px;
    width: 100vw;
    // background: linear-gradient(300deg, #005555, #005454, #005050, #004b4b, #004545, #003e3e, #003636, #002f2f, #002929, #002424, #002020, #001f1f);
    // background: linear-gradient(270deg, #445e5e, #425d5d, #3c5a5b, #355457, #2c4c51, #234349, #1a3841, #132d37, #0e242e, #0a1c26, #081720, #07151e);
    background: #004545;
    color: white;
    justify-content: center;
    align-items: center;
    letter-spacing: .2rem;
    vertical-align: middle;    

    .nav-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        max-width: 1500px;  

        .nav-logo {
            display: flex;
            color: white;
            font-weight: 700;
            justify-self: start;
            margin-left: 20px;
            cursor: pointer;
            text-decoration: none;
            font-size: 2.4rem;
            align-items: center;
            left: 0;
            font-family: Raleway, sans-serif;
            transition: all 1.5s ease;   
         }
            .nav-logo:hover {
                    color: gold;
                    transform: rotate(-3deg); 
                    transition: all .5s ease;                
                    }
                
        .nav-menu {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-gap: 10px;
            list-style: none;
            text-align: center;
            width: 60vw;
            justify-content: end;
            margin-right: 2rem;

            .nav-item {
                height: 60px;
                .nav-links {
                    color: white;
                    display: grid;
                    align-items: center;
                    text-decoration: none;
                    padding: 0rem 1rem;
                    height: 100%;
                    font-size: 1rem;
                    }    

                .nav-links:hover {
                    color: gold;
                    transition: all 1s;          
                }                                 
            }        
        }
    }
}   

        .menu-icon {
        display: none;
        }

        @media screen and (max-width: 770px) {
            .nav-menu {
                position: absolute;
                top: 70px;
                }

            .nav-menu.active {
                grid-template-columns: 1fr !important;
                height: 68vh;
                top: 70px;
                border-radius: 5px;
                grid-column: 1fr;
                background: #004545;
                opacity: .95;
                z-index: 10;
                transition: all .7s;
                padding: 0;
                align-items: center;
                margin: auto;
                
                .nav-item {
                    text-align: center;
                    }
            }

        .nav-logo {
            position: absolute;
            }

        .menu-icon {
            display: block;
            position: absolute;
            color: #57c238;
            top: 0;
            right: 2vw;
            transform: translate(-40%, 40%);
            font-size: 1.8rem;
            cursor: pointer;
            }
        }