/* Video from: https://pixabay.com/  */
@import "https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');
@import '../global.scss';

.pricing {
    background: url('photo/greywall.png');
    display: grid;
    grid-template-columns: repeat(3, auto-fit);
    color: darkslategrey;
    height: 100vh;

    @include mobile {
        height: 100vh;
    }


    .container {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: space-evenly;

        @include mobile {
            display: grid;
            grid-template-rows: repeat(3, auto-fit);
            height: fit-content;
            margin: auto;
            padding: 2vh;
            // width: 80vw;
        }


        .headline {
            width: 40vmin;
            height: 75vh;
            background: radial-gradient(circle at 50% 50%, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
            margin: auto;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 2vh;

            @include mobile {
                width: 85vw;
                height: 12vh;
                // padding: 2vh;
            }

            .pound {
                transform: rotate(25deg);
                font-size: 8vmin;
                color: hsl(39, 100%, 46%);
                width: 8vw;
                height: 8vw;
                margin-bottom: -50vh;
                overflow: hidden;

                @include mobile {
                    margin: auto;
                    right: 20px;
                }
            }

            h4 {
                width: 20vmax;
                font-family: 'Dancing Script', cursive;
                font-size: 36px;
                text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
                color: #ffffdd;
                display: flex;
                align-items: center;
                justify-content: end;
                font-weight: normal;
                // margin-left: 2vw;
                padding: 10px;
            }
        }

        .left,
        .right {
            width: 26vw;
            height: 60vh;
            margin: auto;
            box-shadow: rgb(62, 67, 71) 7px 8px 10px 0px inset,
                rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            background: url('photo/linen.png');

            @include mobile {
                width: 70vw;
                height: 36vh;
            }

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 4vh;
                letter-spacing: 3px;
                border-bottom: 1px solid gray;
                padding: 2vh;

                @include mobile {
                    font-size: 20px;
                    // margin-top: -10%;
                }
            }

            .icon {
                font-size: 9vmin;
                margin-top: -7vh;
                margin-bottom: -2vmin;

                @include mobile {
                    font-size: 25px;
                }
            }

            ul {
                font-family: 'Montserrat', sans-serif;
                font-size: .9rem;
                letter-spacing: 1.5px;
                margin-top: -5vh;
                padding-left: 1vmin;

                @include mobile {
                    font-size: .7rem;
                }


                li {
                    list-style: inside;
                }
                li::marker{
                    color: red;
                    // font-size: 18px;
                    // content: '';
                }
            }
        }
    }
}