// .pricing {
//     background: url('photo/question.jpg') center center/cover no-repeat;
//     background: url('photo/linen.png');

//     // color: white;
// }

/* Video from: https://pixabay.com/  */

@import "https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');

.pricing {
    background: url('photo/greywall.png');
    display: grid;
    grid-template-columns: repeat(3, auto-fit);
    color: darkslategrey;
    height: 100vh;
    // flex-direction: column;
    // align-items: center;
    // border-bottom: .5px solid gray; 
    // align-self: center;   

    .container {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: space-between;

        .headline {
            width: 40vmin;
            height: 60vh;
            background: linear-gradient(180deg, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
            background: radial-gradient(circle at 50% 50%, #005050, #004c4c, #004848, #004444, #004040, #003c3c, #003838, #003434, #003030, #002c2c, #002929, #002525);
            margin: auto;
            // box-shadow: 2px 2px 4px 3px black;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .pound {
                transform: rotate(25deg);
                font-size: 8vmin;
                color: hsl(39, 100%, 46%);
                width: 8vw;
                height: 8vw;
                margin-bottom: -50vmin;
                overflow: hidden;
                // right: 0 !important;
                // background: url('photo/pound-tag.png') center center/cover; 
                // bottom: 10px !important;
                // background-color: rgb(72, 75, 67);
            }

            h4 {
                width: 10vw;
                font-family: 'Dancing Script', cursive;
                font-size: 3vw;
                text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
                color: #ffffdd;
                display: flex;
                align-items: center;
                justify-content: end;
                font-weight: normal;
                margin-left: 2vw;
            }
        }

        .left {
            h2 {
                // font-family: 'Cinzel', serif;
                font-family: 'Montserrat', sans-serif;
                font-size: 4vh;
                letter-spacing: 3px;
                border-bottom: 1px solid gray;
                padding: 2vh;
            }

            // text-align: left;
            width: 26vw;
            height: 60vh;
            // margin-top: 5vh;
            margin: auto;
            // margin-right: 5vw;
            // margin: 5vh 10vw 0 5vw;
            // border: 1px solid lightgray;
            box-shadow: rgb(62, 67, 71) 7px 8px 10px 0px inset,
            rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            // border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            // font-family: 'Dancing Script', cursive;
            background: url('photo/linen.png');

            .icon {
                font-size: 9vmin;
                margin-top: -5vh;
                margin-bottom: -2vmin;
            }

            ul {
                font-family: 'Montserrat', sans-serif;
                font-size: .9rem;
                letter-spacing: 1.5px;
                margin-top: -5vh;
                padding-left: 1vmin;


                li {
                    list-style: inside;
                }
            }
        }

        .right {
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 4vh;
                letter-spacing: 3px;
                border-bottom: 1px double gray;
                padding: 2vh;
            }

            background: url('photo/linen.png');
            // border-radius: 7px;
            width: 26vw;
            height: 60vh;
            margin: auto;
            // margin: 5vh 0 10vw 5vw;
            box-shadow: rgb(62, 67, 71) 7px 8px 10px 0px inset,
            rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: left;

            .icon {
                font-size: 9vmin;
                margin-top: -5vh;
                margin-bottom: -2vmin;

            }

            ul {
                font-family: 'Montserrat', sans-serif;
                font-size: .9rem;
                letter-spacing: 1.5px;
                margin-top: -5vh;
                padding-left: 1vmin;

                // font-family: 'Cinzel', serif;
                li {
                    list-style: inside;

                }
            }
        }
    }
}