@import './global.scss';

.app {
  height: 100vh; 

  .sections {
    position: relative;
    top: 60px;
    height: calc(100vh - 60px);
    width: 100%;

    >* {
      height: calc(100vh - 60px);
      width: 100vw;
    }

    @include mobile {
      top: 0;
    }

  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 15%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@include mobile {
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
// @media screen and (max-width: 850px) {
//   ::-webkit-scrollbar {
//     width: 0;
//     background: transparent;
//   }
}